* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    margin: 0 auto;
    font-size: 16px
}

body {
    font-family: Open Sans,system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #222;
    margin-top: 130px
}

@media (max-width: 990px) {
    body {
        margin-top:98px
    }
}

p {
    margin-bottom: 12px
}

:root {
    --main-green: #00923a;
    --main-red: #e31f25;
    --font-first: #222;
    --font-second: #666
}

#specialButton {
    font-size: 12px;
    background-color: #fff;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 8px
}

#specialButton img {
    width: 24px;
    height: 24px
}

@media (max-width: 990px) {
    #specialButton {
        top:32px;
        right: 62px
    }
}

.special body {
    margin-top: 100px
}

.special #special {
    position: relative;
    width: 100%;
    margin-top: 130px;
    z-index: 500
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 10px
}

@media (max-width: 990px) {
    .container {
        min-width:312px;
        margin: 0 auto 20px
    }
}

.button-osta {
    background-color: var(--main-green);
    border-radius: 12px;
    line-height: 20px;
    border: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    padding: 20px 30px;
    font-size: 16px;
    text-align: center;
    transition: .2s;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none
}

@media (max-width: 990px) {
    .button-osta {
        padding:16px;
        font-size: 14px
    }
}

.button-osta--small {
    padding: 12px 24px
}

.button-osta--secondary {
    border: 1px solid rgba(0,146,58,.5);
    background: #fff;
    color: #00923a
}

.button-osta:hover {
    opacity: .8
}

.section {
    background: #eef7fb;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    position: relative;
    overflow: hidden
}

@media (max-width: 990px) {
    .section {
        gap:0px;
        padding: 40px 0
    }
}

.section--inpage {
    padding: 40px 0;
    background-color: #fff
}

@media (max-width: 990px) {
    .section--inpage {
        gap:0px;
        padding: 20px 0
    }
}

.section--header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 0;
    background-color: #fbfeffb3;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow: inherit
}

.section--hero {
    padding: 90px 0;
    background: #eef7fb url(/assets/images/hero-bg-main.png) no-repeat center -330px;
    background-size: auto
}

@media (max-width: 990px) {
    .section--hero {
        background-size:670px;
        background-position: -120px -90px;
        padding: 60px 0 20px
    }
}

.section--stat {
    background-color: #fff;
    padding: 60px 10px
}

@media (max-width: 990px) {
    .section--stat {
        padding:30px 10px
    }
}

.section--booking {
    background-color: var(--main-green);
    color: #fff;
    padding: 50px 0
}

@media (max-width: 990px) {
    .section--booking {
        padding:30px 0 10px
    }
}

.section--doctors,.section--blog {
    background: #fff
}

.section--contact {
    padding: 0;
    height: 800px
}

.section--footer {
    background: #222;
    padding: 50px 0
}

.section--questions {
    color: #fff;
    padding: 50px 0
}

@media (max-width: 990px) {
    .section--questions {
        padding:30px 0 10px
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    position: relative;
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0
}

@media (max-width: 990px) {
    .header {
        padding:12px
    }
}

.header__hamburger {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 500000;
    display: none
}

@media (max-width: 990px) {
    .header__hamburger {
        display:block
    }
}

.header__hamburger .header__hamburger--close {
    display: none
}

.header__hamburger.active .header__hamburger--close {
    display: block
}

.header__hamburger.active .header__hamburger--menu {
    display: none
}

.header__logo-image {
    width: 260px
}

@media (max-width: 990px) {
    .header__logo-image {
        width:180px
    }
}

.header__nav {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 10px 10px 10px 30px;
    border-radius: 20px;
    background-color: #ffffff40
}

@media (max-width: 990px) {
    .header__nav {
        display:none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: #fff;
        gap: 10px
    }
}

.header__nav.active {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 9000;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center
}

.header__nav.active .nav__cta {
    margin-top: 40px
}

.header__nav.active .nav__link {
    font-size: 20px
}

.header__nav .nav__links {
    display: flex;
    gap: 48px
}

@media (max-width: 990px) {
    .header__nav .nav__links {
        flex-direction:column;
        gap: 16px
    }
}

.header__nav .nav__link {
    text-decoration: none;
    color: #222
}

.header__nav .nav__link:hover {
    color: #00923a
}

@media (max-width: 990px) {
    .header__nav .nav__cta {
        padding-bottom:20px
    }
}

.promo__info {
    margin-bottom: 40px
}

.promo__title {
    font-family: Montserrat,system-ui;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 20px
}

.promo__title--highlight {
    color: var(--main-green)
}

@media (max-width: 990px) {
    .promo__title {
        font-size:28px;
        line-height: 32px
    }
}

.promo__actions {
    display: flex;
    gap: 24px
}

@media (max-width: 990px) {
    .promo__actions {
        gap:12px
    }
}

.section--hero .embla {
    -webkit-user-select: none;
    user-select: none
}

.section--hero .embla__container {
    display: flex;
    gap: 20px;
    max-width: 100%
}

.section--hero .embla__slide {
    min-width: 25%;
    flex: 0 0 25%
}

@media (max-width: 990px) {
    .section--hero .embla__slide {
        flex:0 0 260px
    }
}

.section--hero .embla__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    background-color: var(--main-green);
    padding: 8px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: .2s
}

@media (max-width: 990px) {
    .section--hero .embla__button {
        display:none
    }
}

.section--hero .embla__button:hover {
    opacity: 1
}

.section--hero .embla__button--prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.section--hero .embla__button--next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.section--hero .embla__button--disabled {
    display: none
}

.embla__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    background-color: var(--main-green);
    padding: 8px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .8;
    transition: .2s
}

@media (max-width: 990px) {
    .embla__button {
        display:none
    }
}

.embla__button:hover {
    opacity: 1
}

.embla__button--prev {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.embla__button--next {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%)
}

.embla__button--disabled {
    display: none
}

.service-slider {
    display: flex;
    position: relative
}

.service-slider__item {
    background: #fbfeffb3;
    -webkit-backdrop-filter: blur(3.5px);
    backdrop-filter: blur(3.5px);
    border-radius: 24px;
    padding: 36px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 50px 90px #00000008;
    height: 340px;
    transition: .3s all;
    text-decoration: none
}

@media (max-width: 990px) {
    .service-slider__item {
        padding:20px;
        height: 240px
    }
}

.service-slider__item-icon {
    filter: brightness(0)
}

.service-slider__item:hover {
    background: #fff
}

.service-slider__item:hover .service-slider__item-icon {
    filter: brightness(1)
}

.service-slider__item-info {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.service-slider__item-title {
    font-family: Montserrat,system-ui;
    font-size: 24px;
    font-weight: 500;
    color: #222
}

@media (max-width: 990px) {
    .service-slider__item-title {
        font-size:18px
    }
}

.service-slider__item-subtitle {
    font-size: 14px;
    color: #666
}

.service-slider__item-icon {
    width: 76px;
    height: 76px
}

.stats-list {
    display: flex;
    gap: 80px
}

@media (max-width: 990px) {
    .stats-list {
        flex-direction:column;
        gap: 20px
    }
}

.stats-item {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc((100% - 320px)/5)
}

.stats-item__number {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .stats-item__number {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.stats-item__number {
    white-space: nowrap
}

@media (max-width: 990px) {
    .stats-item__number {
        margin-bottom:4px
    }
}

.stats-item__divider {
    width: 100px;
    flex: 0 0 3px;
    background-color: var(--main-red);
    border-radius: 4px
}

.stats-item__description {
    margin-top: 20px;
    color: #222222b3;
    font-family: Open Sans,system-ui;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-size: 14px;
    font-weight: 400;
    position: relative
}

@media (max-width: 990px) {
    .stats-item__description {
        margin-top:4px
    }
}

.clinic-info {
    display: flex;
    gap: 80px
}

@media (max-width: 990px) {
    .clinic-info {
        flex-direction:column;
        gap: 20px
    }
}

.clinic-description {
    flex: 0 0 580px
}

@media (max-width: 990px) {
    .clinic-description {
        flex:0 0 auto;
        order: 2
    }
}

.clinic-description__title {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .clinic-description__title {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.clinic-description__text {
    font-size: 16px;
    margin-bottom: 40px
}

.section--clinic-info .embla {
    overflow: hidden
}

.section--clinic-info .embla__container {
    display: flex;
    padding: 2px
}

.section--clinic-info .embla__slide {
    position: relative;
    min-width: 100%
}

.section--clinic-info .clinic-image__thumbs {
    display: flex;
    cursor: pointer
}

.section--clinic-info .clinic-image__thumbs .embla__slide {
    position: relative;
    min-width: 120px
}

.section--clinic-info .clinic-image__thumbs-image {
    width: 100px;
    border-radius: 12px;
    cursor: pointer
}

.section--clinic-info .clinic-image__thumbs-image--active {
    box-shadow: 0 0 0 2px var(--main-green)
}

.section--clinic-info .clinic-image {
    width: 100%;
    border-radius: 16px
}

.clinic-benefits {
    display: flex;
    gap: 20px
}

@media (max-width: 990px) {
    .clinic-benefits {
        flex-direction:column
    }
}

.benefit {
    background: var(--main-green);
    border-radius: 24px;
    padding: 28px;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #fff;
    flex: 1 1 calc((100% - 40px) / 3)
}

@media (max-width: 990px) {
    .benefit {
        padding:12px;
        flex-direction: column;
        align-items: start;
        gap: 8px;
        border-radius: 16px;
        font-size: 14px
    }
}

.benefit__icon {
    width: 40px;
    height: 40px
}

.clinic-services__title {
    font-size: 18px;
    font-family: Montserrat,system-ui;
    font-weight: 600;
    margin-bottom: 16px
}

.clinic-services__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.clinic-services .service-button {
    background: #fff;
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    color: #222;
    transition: .2s
}

.clinic-services .service-button:hover {
    color: var(--main-green)
}

@media (max-width: 990px) {
    .clinic-services .service-button {
        padding:8px 12px;
        font-size: 14px
    }
}

.booking-section {
    display: flex;
    align-items: start;
    flex-direction: column
}

.booking-description {
    margin-bottom: 28px
}

.booking-description__title {
    font-family: Montserrat,system-ui;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px
}

@media (max-width: 990px) {
    .booking-description__title {
        font-size:28px;
        line-height: 32px
    }
}

.specialists-section__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .specialists-section__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.specialists-section .categories-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 36px
}

.specialists-section .category-button {
    background: #eef7fb;
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #222;
    transition: .2s
}

@media (max-width: 990px) {
    .specialists-section .category-button {
        padding:8px 12px;
        font-size: 14px
    }
}

.specialists-section .category-button:hover {
    opacity: .8
}

.specialists-section .category-button.active {
    background-color: var(--main-green);
    color: #fff
}

.specialists-section .specialists-list {
    position: relative
}

.specialists-section .specialists-list__container {
    display: flex;
    gap: 20px;
    margin-bottom: 32px
}

.specialists-section .specialist-card {
    flex: 0 0 calc(33.33% - 20px);
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #222
}

.specialists-section .specialist-card:hover {
    opacity: .8
}

@media (max-width: 990px) {
    .specialists-section .specialist-card {
        flex:0 0 80%
    }
}

.specialists-section .specialist-card__image {
    flex: 0 0 170px;
    height: auto
}

@media (max-width: 990px) {
    .specialists-section .specialist-card__image {
        flex:0 0 120px;
        height: auto
    }
}

.specialists-section .specialist-card__image img {
    width: 100%;
    height: auto
}

.specialists-section .specialist-card__name {
    font-size: 18px;
    font-weight: 600;
    max-width: 50px;
    margin-bottom: 12px
}

.specialists-section .specialist-card__role {
    font-size: 12px;
    margin-bottom: 12px
}

.specialists-section .specialist-card__experience {
    font-size: 12px
}

.specialists-section .specialist-card__btn {
    color: #00923a;
    font-size: 16px;
    font-weight: 600;
    border: none;
    background: none;
    padding: 0;
    margin-top: 12px;
    cursor: pointer;
    font-family: Open Sans,system-ui
}

.reviews-section .reviews-header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .reviews-section .reviews-header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.reviews-section .reviews-list {
    display: flex;
    gap: 20px;
    margin-bottom: 32px
}

@media (max-width: 990px) {
    .reviews-section .reviews-list {
        flex-wrap:wrap
    }
}

.reviews-section .review-card {
    padding: 24px 20px;
    background: #fff;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: start;
    flex: 1 1 calc((100% - 20px)/2)
}

.reviews-section .review-card__rating {
    background: var(--main-green);
    display: flex;
    gap: 4px;
    color: #fff;
    padding: 8px 12px;
    border-radius: 12px;
    width: 150px;
    margin-bottom: 12px
}

.reviews-section .review-card__text {
    margin-bottom: 16px
}

@media (max-width: 990px) {
    .reviews-section .review-card__text {
        font-size:14px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 6
    }
}

.reviews-section .review-card__date {
    font-size: 12px;
    margin-top: auto
}

.reviews-section .reviews-footer {
    margin-top: 24px
}

.reviews-section .reviews-footer__all-reviews {
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600
}

.reviews-section .reviews-footer__see-all-list {
    display: flex;
    gap: 12px;
    flex-wrap: wrap
}

.reviews-section .reviews-footer__see-all-item {
    padding: 12px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    transition: .2s
}

@media (max-width: 990px) {
    .reviews-section .reviews-footer__see-all-item img {
        height:25px
    }
}

.reviews-section .reviews-footer__see-all-item:hover {
    opacity: .8
}

.blog__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .blog__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.blog__content {
    display: flex;
    gap: 20px;
    margin-bottom: 32px
}

@media (max-width: 990px) {
    .blog__content {
        flex-direction:column
    }
}

.blog .article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex: 1 1 calc((100% - 40px) / 3);
    text-decoration: none;
    color: #222;
    transition: .2s
}

.blog .article:hover {
    opacity: .8
}

.blog .article__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    padding: 30px 24px 12px
}

@media (max-width: 990px) {
    .blog .article__title {
        font-size:20px;
        padding: 30px 24px 8px
    }
}

.blog .article__text {
    padding: 0 24px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5
}

@media (max-width: 990px) {
    .blog .article__text {
        -webkit-line-clamp:3
    }
}

.blog .article__date {
    padding: 16px 24px 28px;
    font-size: 14px
}

.contacts {
    position: absolute
}

.contacts-card {
    margin-right: auto;
    width: 530px;
    background: #ffffffed;
    border-radius: 20px;
    box-shadow: 0 34px 64px #0000000d;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    padding: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    top: 90px
}

@media (max-width: 990px) {
    .contacts-card {
        width:100%;
        left: 0;
        padding: 24px 20px;
        top: 200px;
        border-radius: 0
    }
}

.contacts-card__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .contacts-card__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.contacts-card .contact-details {
    margin-bottom: 20px
}

.contacts-card .contact-details__address {
    color: #666
}

@media (max-width: 990px) {
    .contacts-card .contact-details__address {
        font-size:12px;
        line-height: 14px
    }
}

.contacts-card .contact-details__phone {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-decoration: none;
    color: #222
}

@media (max-width: 990px) {
    .contacts-card .contact-details__phone {
        font-size:16px;
        line-height: 18px
    }
}

@media (max-width: 990px) {
    .section--contact iframe {
        height:200px!important
    }
}

.form {
    margin-bottom: 12px
}

.form__title {
    font-size: 18px;
    margin-top: 32px;
    margin-bottom: 12px;
    font-weight: 600
}

@media (max-width: 990px) {
    .form__title {
        font-size:16px
    }
}

.form__row {
    display: flex;
    gap: 20px
}

@media (max-width: 990px) {
    .form__row {
        flex-direction:column;
        gap: 0px
    }
}

.form__field {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

@media (max-width: 990px) {
    .form__field {
        margin-bottom:12px
    }
}

.form__label {
    position: absolute;
    top: 26px;
    left: 20px;
    transform: translateY(-50%);
    transition: .2s ease all;
    pointer-events: none;
    font-size: 16px;
    color: #999
}

.form__input {
    width: 100%;
    padding: 26px 20px 14px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    outline: none;
    transition: border-color .2s ease;
    background-color: #f2f2f2;
    resize: vertical
}

.form__input:focus {
    border-color: var(--main-green)
}

.form__input:focus+.form__label,.form__input:not(:placeholder-shown)+.form__label {
    top: 14px;
    left: 20px;
    font-size: 12px;
    color: var(--main-green)
}

.form__button {
    width: 100%
}

.social-links {
    margin-top: 32px;
    display: inline-flex;
    gap: 12px
}

.social-links a {
    text-decoration: none;
    transition: .2s
}

.social-links a:hover {
    opacity: .8
}

#map {
    width: 100%;
    height: 800px
}

@media (max-width: 990px) {
    #map {
        height:200px
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    color: #fff
}

@media (max-width: 990px) {
    .footer {
        flex-direction:column;
        align-items: start;
        gap: 32px
    }
}

.footer__links {
    display: flex;
    gap: 16px;
    margin-bottom: 32px
}

.footer__link {
    color: #fff;
    text-decoration: none;
    transition: .2s
}

.footer__link:hover {
    color: var(--main-green)
}

.footer__copyright {
    margin-top: 20px;
    font-size: 14px
}

.footer__right {
    text-align: right
}

@media (max-width: 990px) {
    .footer__right {
        text-align:left
    }
}

.questions {
    background-color: #eef7fb;
    display: flex;
    flex-direction: column
}

.questions .form__input {
    background: #fff
}

.questions__container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.questions__title {
    font-family: Montserrat,system-ui;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
    color: #222
}

@media (max-width: 990px) {
    .questions__title {
        font-size:28px;
        line-height: 32px
    }
}

.questions__description {
    color: #222c;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 600
}

.questions__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 530px
}

@media (max-width: 990px) {
    .questions__form {
        max-width:100%
    }
}

.questions__input-group {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.questions__input-group--double {
    flex-direction: row;
    justify-content: space-between
}

.questions__input-group--double .questions__input {
    flex: 1;
    margin-right: 10px
}

.questions__input-group--double .questions__input:last-child {
    margin-right: 0
}

.service-page .service__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .service-page .service__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.service-page .specialists-section__header {
    font-size: 40px
}

@media (max-width: 990px) {
    .service-page .specialists-section__header {
        font-size:28px
    }
}

.service-page .content {
    display: flex;
    gap: 100px;
    justify-content: flex-start
}

@media (max-width: 990px) {
    .service-page .content {
        flex-direction:column
    }
}

.service-page .content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1
}

.service-page .content__intro,.service-page .content__description {
    color: #222c;
    text-align: left
}

.service-page .content__intro {
    font-size: 24px;
    font-weight: 600
}

.service-page .content__description {
    font-size: 16px;
    line-height: 24px
}

.service-page .content__indications {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px
}

.service-page .content__indications-title {
    font-size: 24px;
    font-weight: 600
}

.service-page .content__indications-item {
    background-color: #eef7fb;
    border-left: 4px solid #00923a;
    padding: 12px 24px;
    border-radius: 12px;
    font-size: 16px
}

.service-page .directions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px
}

@media (max-width: 990px) {
    .service-page .directions {
        width:100%
    }
}

.service-page .directions__title {
    font-size: 18px
}

.service-page .directions__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.service-page .directions__button {
    background-color: #eef7fb;
    border-radius: 30px;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    color: #222c;
    text-align: center;
    text-decoration: none
}

.service-page .directions__button--active {
    background-color: #00923a;
    color: #eef7fb
}

.service-page .directions__button:hover {
    opacity: .8
}

.service-page .service-gallery {
    display: flex;
    gap: 40px
}

@media (max-width: 990px) {
    .service-page .service-gallery {
        flex-direction:column
    }
}

.service-page .service-gallery__item {
    border-radius: 12px;
    flex: 0 0 calc(33.33% - 20px);
    object-fit: cover
}

.doctors-page .section--doctors {
    padding: 40px 0
}

@media (max-width: 990px) {
    .doctors-page .section--doctors {
        padding:20px 0
    }
}

.doctors-page .specialists-list__container {
    flex-wrap: wrap
}

.doctor-page .doctor__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .doctor-page .doctor__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.doctor-page .doctor-card {
    display: flex;
    gap: 100px;
    align-items: flex-start
}

@media (max-width: 990px) {
    .doctor-page .doctor-card {
        flex-direction:column;
        gap: 40px
    }
}

.doctor-page .doctor-card__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    flex: 1
}

@media (max-width: 990px) {
    .doctor-page .doctor-card__info {
        order:2
    }
}

.doctor-page .doctor-card__specialization {
    color: #222c;
    font-size: 24px;
    font-weight: 600
}

.doctor-page .doctor-card__details {
    color: #222c;
    font-size: 16px;
    line-height: 24px
}

.doctor-page .doctor-card__rating {
    margin-top: 20px;
    background: #eef7fb;
    border-radius: 34px;
    padding: 12px 20px;
    display: flex;
    gap: 16px;
    align-items: center
}

.doctor-page .doctor-card__image {
    width: 210px;
    height: 42px
}

@media (max-width: 990px) {
    .doctor-page .doctor-card__image {
        order:1
    }
}

.doctor-page .doctor-card__rating-icon {
    width: 18px;
    height: 18px
}

.doctor-page .doctor-card__rating-img {
    width: 100%;
    height: 100%
}

.doctor-page .doctor-card__services {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%
}

.doctor-page .doctor-card__services-title {
    font-size: 24px;
    font-weight: 600
}

.doctor-page .doctor-card__service {
    background: #eef7fb;
    border-radius: 12px;
    border-left: 4px solid #00923a;
    padding: 12px 20px;
    display: flex;
    gap: 12px;
    align-items: center
}

@media (max-width: 990px) {
    .doctor-page .doctor-card__service {
        flex-direction:column;
        font-size: 14px;
        align-items: start
    }
}

.doctor-page .doctor-card__service-price {
    margin-left: auto
}

@media (max-width: 990px) {
    .doctor-page .doctor-card__service-price {
        margin-left:0
    }
}

.doctor-page .doctor-card__service-book {
    color: #00923a;
    text-decoration: none;
    font-weight: 600
}

.doctor-page .doctor-card__image-container {
    width: 350px
}

@media (max-width: 990px) {
    .doctor-page .doctor-card__image-container {
        width:220px
    }
}

.doctor-page .doctor-card__main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px
}

.price-page .price__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .price-page .price__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.price-page .price__download-all {
    margin-top: 20px;
    display: inline-flex
}

.price-page .directions {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.price-page .directions__item {
    background: #eef7fb;
    border-radius: 30px;
    padding: 12px 20px;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #222;
    transition: .2s
}

@media (max-width: 990px) {
    .price-page .directions__item {
        padding:8px 12px;
        font-size: 14px
    }
}

.price-page .directions__item:hover {
    opacity: .8
}

.price-page .directions__item.active {
    background-color: var(--main-green);
    color: #fff
}

.price-page .services {
    margin-top: 40px
}

.price-page .services__item {
    background: #eef7fb;
    border-radius: 12px;
    border-left: 4px solid #00923a;
    padding: 16px 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 12px
}

@media (max-width: 990px) {
    .price-page .services__item {
        flex-direction:column;
        gap: 8px;
        align-items: start
    }
}

.price-page .services__name {
    font-size: 16px
}

.price-page .services__price {
    margin-left: auto
}

@media (max-width: 990px) {
    .price-page .services__price {
        margin-left:0
    }
}

.price-page .services__button {
    color: #00923a;
    text-decoration: none;
    font-weight: 600
}

.price-page .services__button:hover {
    opacity: .8
}

.blog-item-page .blog-item__header {
    font-family: Montserrat,system-ui;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 40px
}

@media (max-width: 990px) {
    .blog-item-page .blog-item__header {
        font-size:32px;
        line-height: 34px;
        margin-bottom: 20px
    }
}

.blog-item-page .content {
    display: flex;
    gap: 100px;
    justify-content: flex-start
}

.blog-item-page .content__img {
    border-radius: 20px;
    max-width: 100%
}

@media (max-width: 990px) {
    .blog-item-page .content {
        flex-direction:column
    }
}

.blog-item-page .content__main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1
}

.blog-item-page .content__intro,.blog-item-page .content__description {
    color: #222c;
    text-align: left
}

.blog-item-page .content__intro {
    font-size: 24px;
    font-weight: 600
}

.blog-item-page .content__description {
    font-size: 16px;
    line-height: 24px
}

.blog-item-page .directions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px
}

@media (max-width: 990px) {
    .blog-item-page .directions {
        width:100%
    }
}

.blog-item-page .directions__title {
    font-size: 18px
}

.blog-item-page .directions__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px
}

.blog-item-page .directions__button {
    background-color: #eef7fb;
    border-radius: 30px;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    color: #222c;
    text-align: center;
    text-decoration: none
}

.blog-item-page .directions__button--active {
    background-color: #00923a;
    color: #eef7fb
}

.blog-item-page .directions__button:hover {
    opacity: .8
}
