<form id=questionForm class=questions__form method=POST>
{% csrf_token %}
<div class=form__field>
{{ form.name }}
<label for="{{ form.name.id_for_label }}" class=form__label>{{ form.name.label }}</label>
</div>
<div class="questions__input-group questions__input-group--double">
<div class=form__field>
{{ form.phone }}
<label for="{{ form.phone.id_for_label }}" class=form__label>{{ form.phone.label }}</label>
</div>
<div class=form__field>
{{ form.email }}
<label for="{{ form.email.id_for_label }}" class=form__label>{{ form.email.label }}</label>
</div>
</div>
<div class="form__field form__field-message">
{{ form.text }}
<label for="{{ form.text.id_for_label }}" class="form__label"->{{ form.text.label }}</label>
</div>
<div class="form__field form__field-agreement">
    <div class="form__question-checkbox-wrap">
        <input type="checkbox" id="consent" name="consent" required>
    </div>
    <div class="form__checkbox-label">
        <label for="consent" class="form__question-checkbox-label">
            Нажимая на кнопку, Вы даете согласие на обработку своих персональных данных и соглашаетесь с 
            <a id="userAgreementLink" href="{{ agreement_url }}" target="_blank">Пользовательским соглашением</a>
        </label>
    </div>
</div>
<button type=submit class="form__button button-osta"">Отправить</button>
</form>