{% extends 'base.html' %} 
{% load static %} 

{% block title %}
Центр современной остеопатии и мануальной медицины
{% endblock %} 

{% block script %} 
<script type="module" src="{% static 'js/main.js' %}"></script>
<script type="module" src="{% static 'js/header.js' %}"></script>
<script type="module" src="{% static 'js/booking.js' %}"></script>
<script type="module" src="{% static 'js/contact.js' %}"></script>
<script type="module" src="{% static 'js/ask-form.js' %}"></script>
<script type="module" src="{% static 'js/footer.js' %}"></script>
{% endblock script %} 

{% block content %} 
<div id="header"></div>

<div id="contact"></div>
<div id="ask-form"></div>
<div id="booking"></div>
<div id="footer"></div>
{% endblock %}