{% extends 'base.html' %} {% load static %} {% block title %} Медицинский центр ПроЗдовье - контакты, адреса на карте, номер телефона {% endblock %} {% block meta_title %} Медицинский центр ПроЗдовье - контакты, адреса на карте, номер телефона {% endblock %} {% block description %} Медицинский центр ПроЗдорвье расположен прямо в центре города.🏥 Вы можете связаться с нами любым удобным способом или записаться онлайн на нашем сайте {% endblock %} {% block meta_description %} Медицинский центр ПроЗдорвье расположен прямо в центре города.🏥 Вы можете связаться с нами любым удобным способом или записаться онлайн на нашем сайте {% endblock %} {% block script %}
<script type=module src="{% static 'js/header.js' %}"></script>
<script type=module src="{% static 'js/booking.js' %}"></script>
<script type=module src="{% static 'js/contactPage.js' %}"></script>
<script type=module src="{% static 'js/ask-form.js' %}"></script>
<script type=module src="{% static 'js/footer.js' %}"></script>
<script type=module src="{% static 'js/luminous-lightbox.js' %}"></script>

{% endblock script %} {% block content %}
<div id=header></div>
<div id=contact></div>
<div id=ask-form></div>
<div id=booking></div>
<div id=footer></div>
{% endblock %}