{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="https://osteomeddv-2024-09.web.app/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Центр современной остеопатии и мануальной медицины</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <script
      src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"
      type="text/javascript"
    ></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300..800&display=swap"
      rel="stylesheet"
    />
    <script src="{% static 'js/uhpv/jquery.js' %}"></script>
    <script src="{% static 'js/uhpv/uhpv-full.min.js' %}"></script>
    <script type="module" src="{% static 'js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
  </head>
  <body>
    <div class="" id="specialButton">
      <img
        src="{% static 'images/eye.svg' %}"
        alt="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ"
        title="ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ"
      />
      Для слабовидящих
    </div>
    <div class="section section--header">
      <div class="header container">
        <div class="header__logo">
          <img
            class="header__logo-image"
            src="{% static 'images/logo-header.svg' %}"
          />
        </div>
        <button class="header__hamburger" aria-label="Toggle menu">
          <img class="header__hamburger--menu" src="{% static 'images/burger.svg' %}" alt="" />
          <img class="header__hamburger--close" src="{% static 'images/close.svg' %}" alt="" />
        </button>
        <div class="header__nav">
          <div class="nav__links">
            <a href="index.html#" class="nav__link">Услуги</a>
            <a href="index.html#" class="nav__link">Специалисты</a>
            <a href="index.html#" class="nav__link">Цены</a>
            <a href="index.html#" class="nav__link">Контакты</a>
          </div>
          <div class="nav__cta">
            <button class="button-osta button-osta--small">
              Записаться на прием
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--hero">
      <div class="promo container">
        <div class="promo__info">
          <div class="promo__title">
            Путь
            <br />
            к здоровью <br />начинается
            <br />
            <span class="promo__title promo__title--highlight">здесь</span>
          </div>
          <div class="promo__description">
            Опытные врачи и современные методы лечения
            <br />
            для поддержания вашего здоровья и благополучия
          </div>
        </div>
        <div class="promo__actions">
          <div class="button-osta">Записаться на прием</div>
          <div class="button-osta button-osta--secondary">Задать вопрос</div>
        </div>
      </div>

      <div class="service-slider container embla" id="service-list-slider">
        <div class="embla__container">
          {% for speciality in specialities %}
            <a href="index.html#" class="service-slider__item embla__slide">
              <div class="service-slider__item-info">
                <div class="service-slider__item-title">
                  {{ speciality.name }}
                </div>
                <div class="service-slider__item-subtitle">
                  {{ speciality.description }}
                </div>
              </div>
              <img
                class="service-slider__item-icon"
                src="{% if speciality.icon %}{{ speciality.icon.url }}{% endif %}"
              />
            </a>
          {% endfor %}
        </div>

        <button class="embla__button embla__button--prev" type="button">
          <img src="{% static 'images/left.svg' %}" alt="" />
        </button>
        <button class="embla__button embla__button--next" type="button">
          <img src="{% static 'images/right.svg' %}" alt="" />
        </button>
      </div>
    </div>
    <div class="section section--stat">
      <div class="stats-list container">
        <div class="stats-item">
          <div class="stats-item__number">2 500+</div>
          <div class="stats-item__divider"></div>
          <div class="stats-item__description">
            Пациентов, прошедших успешное лечение в нашей клинике
          </div>
        </div>
        <div class="stats-item">
          <div class="stats-item__number">15+</div>
          <div class="stats-item__divider"></div>
          <div class="stats-item__description">
            Лет опыта работы<br />
            наших специалистов
          </div>
        </div>
        <div class="stats-item">
          <div class="stats-item__number">40+</div>
          <div class="stats-item__divider"></div>
          <div class="stats-item__description">
            Специалистов<br />
            в штате клиники
          </div>
        </div>
        <div class="stats-item">
          <div class="stats-item__number">94%</div>
          <div class="stats-item__divider"></div>
          <div class="stats-item__description">
            Пациентов приходят по рекомендациям
          </div>
        </div>
        <div class="stats-item">
          <div class="stats-item__number">2</div>
          <div class="stats-item__divider"></div>
          <div class="stats-item__description">
            Филиала с удобным<br />
            местоположением
          </div>
        </div>
      </div>
    </div>

    <div class="section section--clinic-info">
      <div class="clinic-info container">
        <div class="clinic-description">
          <div class="clinic-description__title">О Клинике</div>
          <div class="clinic-description__text">
            Мы – многопрофильная медицинская клиника, предоставляющая широкий
            спектр услуг для поддержания здоровья и благополучия. Наша команда
            специалистов использует современные методы диагностики и лечения,
            обеспечивая индивидуальный подход и высокое качество медицинской
            помощи.
          </div>
          <!-- Thumbnails carousel -->
          <div class="clinic-image__thumbs embla" id="thumbCarousel">
            <div class="embla__container">
              <div class="embla__slide">
                <img
                  class="clinic-image__thumbs-image clinic-image__thumbs-image--active"
                  src="{% static 'images/clinic/1.jpg' %}"
                />
              </div>
              <div class="embla__slide">
                <img
                  class="clinic-image__thumbs-image"
                  src="{% static 'images/clinic/2.jpg' %}"
                />
              </div>
              <div class="embla__slide">
                <img
                  class="clinic-image__thumbs-image"
                  src="{% static 'images/clinic/3.jpg' %}"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- Main image carousel -->
        <div class="clinic-image embla" id="mainCarousel">
          <div class="embla__container">
            <div class="embla__slide">
              <img class="clinic-image" src="{% static 'images/clinic/1.jpg' %}" />
            </div>
            <div class="embla__slide">
              <img class="clinic-image" src="{% static 'images/clinic/2.jpg' %}" />
            </div>
            <div class="embla__slide">
              <img class="clinic-image" src="{% static 'images/clinic/3.jpg' %}" />
            </div>
          </div>
        </div>
      </div>

      <div class="clinic-benefits container">
        <div class="benefit">
          <img class="benefit__icon" src="{% static 'images/diamont.svg' %}" />
          <div class="benefit__title">Индивидуальный подход</div>
        </div>
        <div class="benefit">
          <img class="benefit__icon" src="{% static 'images/sert.svg' %}" />
          <div class="benefit__title">Высокая квалификация специалистов</div>
        </div>
        <div class="benefit">
          <img class="benefit__icon" src="{% static 'images/lamp.svg' %}" />
          <div class="benefit__title">Использование современных технологий</div>
        </div>
      </div>
      <div class="clinic-services container">
        <div class="clinic-services__title">Услуги клиники</div>
        <div class="clinic-services__list">
          {% for speciality in specialities %}
            <a href="index.html#" class="service-button">{{ speciality.name }}</a>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="section section--booking">
      <div class="booking-section container">
        <div class="booking-description">
          <div class="booking-description__title">Онлайн-запись</div>
          <div class="booking-description__text">
            Запишитесь на прием в удобное для вас время и узнайте стоимость
            услуг заранее. Быстрая онлайн-запись без ожидания!
          </div>
        </div>
        <button class="button-osta button-osta--secondary">
          Записаться на прием
        </button>
      </div>
    </div>
    <div class="section section--doctors">
      <div class="specialists-section container">
        <div class="specialists-section__header">Наши специалисты</div>
        <div class="specialists-section__categories">
          <div class="categories-list" id="categoryButtons"></div>
        </div>
        <div class="specialists-list" id="specialistsList"></div>
        <div class="button-osta">Все специалисты</div>
      </div>
    </div>
    <div class="section section--reviews">
      <div class="reviews-section container">
        <div class="reviews-header">Отзывы</div>
        <div class="reviews-list">
          {% for review in reviews %}
            <div class="review-card">
              <div class="review-card__rating">
                <img
                  class="review-card__rating-image"
                  src="{% static 'images/star.svg' %}"
                  alt="5.0 рейтинг"
                />
                <div class="review-card__rating-score">{{ review.rate }}</div>
                <div class="review-card__rating-status">Отлично</div>
              </div>
              <div class="review-card__text">
                {{ review.content }}
              </div>
              <div class="review-card__date">Приём был {{ review.created_at|date:"d.m.Y" }}</div>
            </div>
          {% endfor %}
        </div>
        <div class="reviews-footer">
          <div class="reviews-footer__all-reviews">Все отзывы</div>
          <div class="reviews-footer__see-all-list">
            <a href="index.html#" class="reviews-footer__see-all-item">
              <img src="{% static 'images/doctor.svg' %}" />
            </a>
            <a href="index.html#" class="reviews-footer__see-all-item">
              <img src="{% static 'images/2gis.svg' %}" />
            </a>
            <a href="index.html#" class="reviews-footer__see-all-item">
              <img src="{% static 'images/ya.svg' %}" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--blog">
      <div class="blog container">
        <div class="blog__header">О вашем здоровье</div>
        <div class="blog__content">
          {% for article in articles %}
            <a class="article" href="index.html#">
              <img
                class="article__image"
                src="{{ article.photo.url }}"
                alt="Остеопат"
              />
              <div class="article__title">{{ article }}</div>
              <div class="article__text">
                <p>
                  {{ article.content }}
                </p>
              </div>
              <div class="article__date">{{ article.created_at|date:"d.m.Y" }}</div>
            </a>
          {% endfor %}
        </div>
        <div class="blog__footer">
          <div class="button-osta">Все статьи</div>
        </div>
      </div>
    </div>
    <div class="section section--contact">
      <div id="map"></div>

      <div class="contacts container">
        <div class="contacts-card">
          <div class="contacts-card__header">Контакты</div>
          <div class="contacts-card__content">
            <div class="contacts-card__info">
              {% for branch in branches %}
                <div class="contact-details">
                  <div class="contact-details__address">{{ branch.address }}</div>
                  <div class="contact-details__phone">{{ branch.phone }}</div>
                </div>
              {% endfor %}
              <div class="form">
                <div class="form__title">Подберем процедуру под ваш запрос</div>

                <div class="form__field">
                  <input
                    type="text"
                    id="name"
                    class="form__input"
                    placeholder=" "
                  />
                  <label for="name" class="form__label">Имя</label>
                </div>
                <div class="form__row">
                  <div class="form__field">
                    <input
                      type="text"
                      id="phone"
                      class="form__input"
                      placeholder=" "
                    />
                    <label for="phone" class="form__label">Телефон</label>
                  </div>

                  <div class="form__field">
                    <input
                      type="email"
                      id="email"
                      class="form__input"
                      placeholder=" "
                    />
                    <label for="email" class="form__label">E-mail</label>
                  </div>
                </div>
                <button class="form__button button-osta">
                  Заказать звонок
                </button>
              </div>
            </div>
            <div class="social-links">
              <a href="https://t.me/your-telegram-link" target="_blank">
                <img src="{% static 'images/tg.svg' %}" alt="Telegram" />
              </a>
              <a href="https://wa.me/your-whatsapp-number" target="_blank">
                <img src="{% static 'images/whatsapp.svg' %}" alt="WhatsApp" />
              </a>
              <a href="https://vk.com/your-vk-link" target="_blank">
                <img src="{% static 'images/vk.svg' %}" alt="VKontakte" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--footer">
      <div class="footer container">
        <div class="footer__left">
          <div class="footer__services">
            <div class="footer__links">
              <a class="footer__link" href="index.html#">Услуги</a>
              <a class="footer__link" href="index.html#">Специалисты</a>
              <a class="footer__link" href="index.html#">Цены</a>
              <a class="footer__link" href="index.html#">Контакты</a>
            </div>
            <div class="footer__logo">
              <img
                class="footer__logo-image"
                src="{% static 'images/logo-footer.svg' %}"
                alt="Logo"
              />
            </div>
          </div>
        </div>
        <div class="footer__right">
          <div class="footer__info">
            <button class="button-osta button-osta--small" href="#">
              Записаться на прием
            </button>
            <div class="footer__copyright">© 2024 osteomeddv.ru</div>
          </div>
          <div class="social-links">
            <a href="https://t.me/your-telegram-link" target="_blank">
              <img src="{% static 'images/tg.svg' %}" alt="Telegram" />
            </a>
            <a href="https://wa.me/your-whatsapp-number" target="_blank">
              <img src="{% static 'images/whatsapp.svg' %}" alt="WhatsApp" />
            </a>
            <a href="https://vk.com/your-vk-link" target="_blank">
              <img src="{% static 'images/vk.svg' %}" alt="VKontakte" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>