{% extends 'base.html' %} 
{% load static %}

{% block title %}
Центр современной остеопатии и мануальной медицины
{% endblock %}

{% block script %}
<script type="module" crossorigin src="{% static 'js/header.js' %}"></script>
<script type="module" crossorigin src="{% static 'js/booking.js' %}"></script>
<script type="module" crossorigin src="{% static 'js/ask-form.js' %}"></script>
<script type="module" crossorigin src="{% static 'js/footer.js' %}"></script>
{% endblock %} 

{% block content %} 
<div class="blog-list-page">
    <div id="header"></div>
    <div class="section section--inpage">
      <div class="container blog-list">
        <div class="blog-list__header">Блог про здоровье</div>
        <div class="content">
          <div class="content__main">
            {% for article in articles %}
              <a class="article" href="{{ article.get_absolute_url }}">
                <img
                  class="article__image"
                  src="{{ article.image.url }}"
                  alt="Остеопат"
                />
                <div class="article__title">{{ article.title }}</div>
                <div class="article__text">
                  <p>
                    {{ article.content }}
                  </p>
                </div>
                <div class="article__date">{{ article.created_at|date:"d.m.Y" }}</div>
              </a>
            {% endfor %}
          </div>
          <div class="directions">
            <div class="directions__title">Больше статей</div>
            <div class="directions__list">
              {% for article in articles %}
                <a href="{{ article.get_absolute_url }}" class="directions__button">{{ article.title }}</a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="doctors"></div>
    <div id="booking"></div>
    <div id="ask-form"></div>
    <div id="footer"></div>
  </div>
{% endblock %}