{% load static %}
<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<link rel=icon type=image/svg+xml href=https://osteomeddv-2024-09.web.app/vite.svg>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>{% block title %}{% endblock title %}</title>
<meta name=description content="{% block description %}{% endblock %}">
<meta property=og:title content="{% block meta_title %}{% endblock %}">
<meta property=og:description content="{% block meta_description %}{% endblock %}">
<link rel=preconnect href=https://fonts.googleapis.com>
<link rel=preconnect href=https://fonts.gstatic.com>
<link rel=apple-touch-icon sizes=180x180 href="{% static 'images/apple-touch-icon.png' %}">
<link rel=icon type=image/png sizes=32x32 href="{% static 'images/favicon-32x32.png' %}">
<link rel=icon type=image/png sizes=16x16 href="{% static 'images/favicon-16x16.png' %}">
<link rel=manifest href="{% static 'images/site.webmanifest' %}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" rel=stylesheet>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300..800&display=swap" rel=stylesheet>
<script src=https://unpkg.com/embla-carousel/embla-carousel.umd.js></script>
<script src=https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js></script>
<script type=module src="{% static 'js/vendor/Imask.min.js' %}"></script>
<script src="{% static 'js/uhpv/jquery.min.js' %}"></script>
<script src="{% static 'js/uhpv/uhpv-full.min.js' %}"></script>
<link href=https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css rel=stylesheet integrity=sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH crossorigin=anonymous>
<link rel=stylesheet href="{% static 'css/styles.css' %}">
{% block script %} {% endblock script %}
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>