{% load static %}
<!doctype html>
<html lang=en>
<head>
<meta charset=UTF-8>
<link rel=icon type=image/svg+xml href=https://osteomeddv-2024-09.web.app/vite.svg>
<meta name=viewport content="width=device-width,initial-scale=1">
<title>{% block title %}{% endblock title %}</title>
<meta name=description content="{% block description %}{% endblock %}">
<meta property=og:title content="{% block meta_title %}{% endblock %}">
<meta property=og:description content="{% block meta_description %}{% endblock %}">
<link rel=preconnect href=https://fonts.googleapis.com>
<link rel=preconnect href=https://fonts.gstatic.com>
<link rel=apple-touch-icon sizes=180x180 href="{% static 'images/apple-touch-icon.png' %}">
<link rel=icon type=image/png sizes=32x32 href="{% static 'images/favicon-32x32.png' %}">
<link rel=icon type=image/png sizes=16x16 href="{% static 'images/favicon-16x16.png' %}">
<link rel=manifest href="{% static 'images/site.webmanifest' %}">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:wght@300..800&display=swap" as="style" onload="this.rel='stylesheet'">
<script type=module src="{% static 'js/vendor/embla-carousel.min.js' %}"></script>
<script type=module src="{% static 'js/vendor/Imask.min.js' %}"></script>
<script type=module src="{% static 'js/uhpv/jquery.min.js' %}"></script>
<script type=module src="{% static 'js/uhpv/uhpv-full.min.js' %}"></script>
<script type=module src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<link rel="preload" href="{% static 'css/vendor/bootstrap.min.css' %}" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="{% static 'css/styles.css' %}" as="style" onload="this.rel='stylesheet'">
{% block script %} {% endblock script %}
</head>
<body>
{% block content %} {% endblock %}
</body>
</html>