{% extends 'base.html' %}
{% load static %} 


{% block title %}
Центр современной остеопатии и мануальной медицины
{% endblock %}


{% block script %}
<script type="module" src="{% static 'js/main.js' %}"></script>
<script type="module" src="{% static 'js/header.js' %}"></script>
<script type="module" src="{% static 'js/doctors.js' %}"></script>
<script type="module" src="{% static 'js/ask-form.js' %}"></script>
<script type="module" src="{% static 'js/footer.js' %}"></script>
{% endblock %}


{% block content %}
<div class="doctors-page">
    <div id="header"></div>
    <div id="doctors"></div>
    <div id="ask-form"></div>
    <div id="footer"></div>
  </div>
{% endblock %}